
DRIVE_FRONT_LEFT_PORT: 4
DRIVE_FRONT_RIGHT_PORT: 1
DRIVE_BACK_LEFT_PORT: 3
DRIVE_BACK_RIGHT_PORT: 2

DRIVE_FRONT_LEFT_FLIPPED: false
DRIVE_FRONT_RIGHT_FLIPPED: true
DRIVE_BACK_LEFT_FLIPPED: false
DRIVE_BACK_RIGHT_FLIPPED: true

